{{> navbar}}

<div class = "container">

	<div class="jumbotron">
  		<h1>Employee Dashboard</h1>
	</div>

 	<div class="row flex">
 		<div class="col-lg-4 col-sm-6 image">
 			<div class="thumbnail">
 				<a href="/report">File Incident Report</a><br>
 			</div>
 		</div>
		<div class="col-lg-4 col-sm-6 image">
			<div class="thumbnail">
				<a href="#">View Filed Incident Reports</a><br>
 			</div>
 		</div>
 		<div class="col-lg-4 col-sm-6 image">
 			<div class="thumbnail">
 				<a href="#">Contact HR</a><br>
 			</div>
 		</div>
 		<div class="col-lg-4 col-sm-6 image">
 			<div class="thumbnail">
 				<a href="#">Resources</a><br>
 			</div>
 		</div>
 		<div class="col-lg-4 col-sm-6 image">
 			<div class="thumbnail">
 				<a href="#">Forums</a><br>
 			</div>
 		</div>
 		<div class="col-lg-4 col-sm-6 image">
 			<div class="thumbnail">
 				<a href="https://www.eeoc.gov/">Equal Employment Opportunity Commission</a>
 			</div>
 		</div>
	</div>
	
</div>
