{{> navbar}}

<div class="container">

	<h2>FAQS About Sexual Harassment</h2>
	<br>

	<h3>WHAT IS SEXUAL HARASSMENT?</h3>
	<p>
	Sexual harassment is a form of sex discrimination that is a violation of Title VII of the Civil Rights Act of 1964. The Equal Employment Opportunity Commission’s (EEOC) guidelines define two types of sexual harassment:
	"quid pro quo" and "hostile environment."
	</p>

	<h3>WHAT IS "QUID PRO QUO" SEXUAL HARASSMENT?</h3>
	<p>
	Unwelcome sexual advances, requests for sexual favors, and other verbal or physical conduct of a sexual nature
	constitute "quid pro quo" sexual harassment when: (1) submission to such conduct is made either explicitly or
	implicitly a term or condition of an individual's employment; or (2) submission to or rejection of such conduct
	by an individual is used as the basis for employment decisions affecting such individual.
	</p>

	<h3>WHAT IS "HOSTILE ENVIRONMENT" SEXUAL HARASSMENT?</h3>
	<p>
	Unwelcome sexual advances, requests for sexual favors, and other verbal or physical conduct of a sexual nature
	constitute "hostile environment" sexual harassment when such conduct has the purpose or effect of unreasonably
	interfering with an individual's work performance or creating an intimidating, hostile, or offensive working
	environment.
	</p>

	<h3>WHAT FACTORS DETERMINE WHETHER AN ENVIRONMENT IS "HOSTILE?"</h3>
	<p>
	The central inquiry is whether the conduct "unreasonably interfered with an individual's work performance" or
	created "an intimidating, hostile, or offensive working environment." The EEOC will look at the following
	factors to determine whether an environment is hostile: (1) whether the conduct was verbal or physical or both;
	(2) how frequently it was repeated; (3) whether the conduct was hostile or patently offensive; (4) whether the
	alleged harasser was a co worker or supervisor; (5) whether others joined in perpetrating the harassment; and
	(6) whether the harassment was directed at more than one individual. No one factor controls. An assessment is
	made based upon the totality of the circumstances.
	</p>

	<h3>WHAT IS UNWELCOME SEXUAL CONDUCT?</h3>
	<p>
	Sexual conduct becomes unlawful only when it is unwelcome. The challenged conduct must be unwelcome in
	the sense that the employee did not solicit or incite it, and in the sense that the employee regarded the conduct
	as undesirable or offensive.
	</p>

	<h3>HOW WILL THE EEOC DETERMINE WHETHER CONDUCT IS UNWELCOME?</h3>
	<p>
	When confronted with conflicting evidence as to whether conduct was welcome, the EEOC will look at the
	record as a whole and at the totality of the circumstances, evaluating each situation on a case-by-case basis. The
	investigation should determine whether the victim's conduct was consistent, or inconsistent, with his/her assertion
	that the sexual conduct was unwelcome.
	</p>
<br>
<br>
	<p>Resources from <a href="http://www.aces.edu/urban/FamilyWebsite/FAQsex.pdf">www.aces.edu</a></p>
</div>

