
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
    	
    	{{> navbar }}

		<h1>Reset Password</h1>

		<form class="registerForm" method="POST" action="/forgotPass/reset">
			<p class="field">
				<i class="far fa-envelope"></i>
				<input type="email" name="email" placeholder="Confirm Email address" required>
			</p>
			<p class="field">
				<i class="far fa-user"></i>
				<input type="text" name="userName" placeholder="Confirm User Name" required> <br>
			</p>

			<p class="field">
				<i class="fas fa-unlock"></i>
     			<input type="password" name="password" placeholder="New Password" required ><br>
     		</p>

     		<p class="field">
				<input type="password" id="verifyPassword" placeholder="Verify New Password" required>			
			</p>

     		<p class="submit">
		      	<button type="submit" value="Submit">
		      	<i class="fas fa-arrow-alt-circle-right"></i>
		      </button>
		  	</p>
		

		</form>

	</body>
	<script src="app_passReset.js"> </script>


</html>