{{> navbar}}

<div class = "container">

  <div class="jumbotron">
      <h1>HR Dashboard</h1>
  </div>

  <div class="row flex">
    <div class="col-lg-4 col-sm-6 image">
      <div class="thumbnail">
        <a href="#">View Current Incident Reports</a><br>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 image">
      <div class="thumbnail">
        <a href="#">View Prior Reports</a><br>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 image">
      <div class="thumbnail">
        <a href="#">Live Chat</a><br>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 image">
      <div class="thumbnail">
        <a href="#">Company Statistics</a><br>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 image">
      <div class="thumbnail">
        <a href="#">Forums</a><br>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 image">
      <div class="thumbnail">
        <a href="https://www.eeoc.gov/">Equal Employment Opportunity Commission</a>
      </div>
    </div>
  </div>
  
</div>
