
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
    	
    	{{> navbar }}

		<h1>Log into your account</h1>

		<form method="POST" action="/login">
			Username: <input type="text" name="userName"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit" value="Submit">
		</form>

	</body>
	<script src="app.js"> </script>


</html>
