<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>title</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
  {{> navbar}}
	
	<h2> Resources and References </h2>
<ul>	
  <li>
  	<a href="https://www.rainn.org/about-national-sexual-assault-telephone-hotline"> National Sexual Assault Hotline </a>
    
    <p> A safe, confidential service that gives you access to a range of free services.<br> 1-800-656-4673 </p>
  </li>


  <li>
  	<a href = "https://www.nsvrc.org/">National Sexual Violence Resource Center</a>
    <p> A resource center that provides news, publications, and teachings about sexual violence awareness. </p>
  </li>

  <li>
  	<a href="https://www.trynova.org/who-we-are/"> National Organization for Victim Assistance </a>
    <p> NOVA is the oldest national victim assistance organization of its type in the United States. A recognized leader in victim advocacy, education and credentialing. </p>
  </li>
</ul>

  </body>
        <script src="js/app.js"></script>
</html>