{{> navbar}}
<div>
	<p>Please check you email for validation link</p>
</div>
<div>
	<p>Please check you email for validation link</p>
</div>
<div>
	<p>Please check you email for validation link</p>
</div>